.DeleteButton {
  display: flex;
  align-self: flex-start;
}

.deleteAll {
  box-shadow: 5px #a1a1a1;
  border-radius: 10px 10px 10px 10px;
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
}

.buttonDeleteAll {
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  box-shadow: 0 0 5px rgb(161, 161, 161);
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

.buttonDeleteAll:hover {
  box-shadow: 0 0 5px rgb(111, 110, 110);
}

.buttonDeleteAll:active {
  box-shadow: 0 0 5px rgb(64, 63, 63);
}
