.task-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(161, 161, 161);
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 432px;
}

.task-display__input-task-text {
  height: 50px;
  border: none;
  box-shadow: none;
  font-size: 13px;
  width: 347px;
  outline: none;
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.task-display__input-task:focus {
  box-shadow: 0 0 5px rgb(64, 63, 63);
}

.task-display__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  width: 65px;
  margin: 0 0 0 10px;
  height: 30px;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  box-shadow: 0 0 5px rgb(161, 161, 161);
  cursor: pointer;
}

.task-display__button:active {
  box-shadow: 0 0 5px rgb(64, 63, 63);
}

.task-display__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  font-size: 20px;
}

.task-display__p-task {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  word-break: break-word;
  margin-left: 30px;
  font-size: 16px;
}

@media screen and (max-width: 437px) {
  .task-display {
    width: 90vw;
  }

  .task-display__input-task-text {
    font-size: 3vw;
  }

  .task-display__checkbox {
    width: 4vw;
    height: 4vw;
    font-size: 5vw;
  }

  .task-display__button {
    margin: 0 3vw 0 0;

    width: 15vw;
    font-size: 3vw;
    height: 10vw;
    padding: 3vw;
  }

  .task-display__p-task {
    margin-left: 3vw;
  }
}
