* {
  box-sizing: border-box;
  font-family: "Libre";
  font-weight: 400;
  font-style: normal;
  color: rgb(94, 89, 98);
}

.app {
  display: flex;
  justify-content: center;
}

.app__app-content {
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  width: 435px;
}

.app__task-list {
  padding: 0;
}

@media screen and (max-width: 437px) {
  .app__app-content {
    width: 90vw;
  }
}
