.allApp__DeleteButton {
  display: flex;
  align-self: flex-start;
}

.allApp__deleteAll {
  box-shadow: 5px #a1a1a1;
  border-radius: 10px 10px 10px 10px;
  height: 35px;
  width: 88px;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.allApp__buttonDeleteAll {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  box-shadow: 0 0 5px rgb(161, 161, 161);
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

.allApp__buttonDeleteAll:hover {
  box-shadow: 0 0 5px rgb(111, 110, 110);
}

.allApp__buttonDeleteAll:active {
  box-shadow: 0 0 5px rgb(64, 63, 63);
}

@media screen and (max-width: 437px) {
  .allApp__deleteAll {
    width: 15vw;
    font-size: 3vw;
    padding: 1px;
  }
}
